<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="tipoDeBaseDeDatos" value="MYSQL" />
		<add key="baseDeDatos" value="soft_ven_test" />
		<add key="nombreDeHost" value="localhost" />
		<add key="puerto" value="3306" />
		<add key="usuario" value="admin" />
		<add key="contraseña" value="UAByAG8AZwByAGEAbQBhAGMAaQBvAG4AMwAhAA ==" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
</configuration>