<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AlmacenesPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftInvWS/Almacenes"
                binding="basicHttpBinding" bindingConfiguration="AlmacenesPortBinding"
                contract="clienteSOAP.Almacenes" name="AlmacenesPort" />
        </client>
    </system.serviceModel>
</configuration>