<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConsultaDNIPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftRENIECWS/ConsultaDNI"
                binding="basicHttpBinding" bindingConfiguration="ConsultaDNIPortBinding"
                contract="RENIEC.ConsultaDNI" name="ConsultaDNIPort" />
        </client>
    </system.serviceModel>
</configuration>